<% let pageId='home' ; %>

<%- include('./common/_header', {pageId:pageId }) %>

<main class="l-home" data-barba="container" data-barba-namespace="home">
  <div class="l-container">
    <section id="js-first-view" class="p-first-view l-home__first-view">
      <div class="p-first-view__inner">
        <h2 class="p-first-view__heading" style="transform: translate(0px, 0px);">
          <span class="is-wrap">
            <span class="is-slide-up u-delay01">
              K.TOBITA
            </span>
          </span>
          <span class="is-wrap">
            <span class="is-slide-up u-delay02">
              PORTFOLIO SITE.
            </span>
          </span>
        </h2>
        <p class="p-first-view__text is-fade-up u-delay06">
          Web creator based in Japan - Ibaraki & Tokyo
        </p>
      </div>
    </section>

    <section class="p-home-about l-home__about">
      <h2 class="p-home-about__heading" data-scroll data-scroll-speed="-0.7" data-scroll-direction="horizontal">
        Web Creator
      </h2>
      <div class="p-home-about__profile">
        <h3 class="p-home-about__name">
          <span class="p-home-about__name-en">
            Kokoro Tobita
          </span>
          <span class="p-home-about__name-ja">
            飛田 心
          </span>
        </h3>
        <p class="p-home-about__text">
          2000年生まれ、茨城県在住のAB型。<br>
          高校卒業後、化学メーカーに勤務しながら独学でマークアップ、フロントエンド、Webデザインを学んでいます。
          出来ない事を出来るようになるまで行動し達成できた時の喜びを感じるのが大好きです。
        </p>
        <div class="p-home-about__link-wrapper">
          <a href="/about/" class="c-button-primary">
            <span class="c-button-primary__text" data-text="About me">
              View more
            </span>
          </a>
        </div>
      </div>
    </section>
  </div>

  <div class="l-container l-container--large">
    <section class="p-works l-home__works">
      <div class="p-works__inner">
        <ul class="p-works__contents u-hidden-lax-down" data-scroll data-scroll-sticky data-scroll-target="#js-works-mask">
          <% for(let work in jsonData.works){ %>
          <li data-id="<%= jsonData.works[work].dataId %>" class="p-works__content p-works-content">
            <div class="p-works-content__number">
              <span class="is-slide-mask">
              </span>
            </div>
            <div class="p-works-content__body">
              <h3 class="p-works-content__title is-slide-mask">
                <%= jsonData.works[work].name %>
              </h3><br>
              <p class="p-works-content__category is-slide-mask">
                <%= jsonData.works[work].category %>
              </p><br>
              <p class="p-works-content__text is-slide-mask">
                <%= jsonData.works[work].description %>
              </p>
            </div>
            <div class="p-works-content__link-wrapper">
              <a href="<%= jsonData.works[work].slug %>" class="c-button-primary c-button-primary--large is-slide-mask">
                <span class="c-button-primary__text" data-text="<%= jsonData.works[work].name %>">
                  View more
                </span>
              </a>
            </div>
          </li>
          <% }; %>
        </ul>

        <div class="p-works__items">
          <% for(let work in jsonData.works){ %>
          <div id="<%= jsonData.works[work].id %>" class="p-works__item p-works-item js-follow-targets">
            <a href="<%= jsonData.works[work].slug %>" class="p-works-item__mockups" style="transform: translate(0px, 0px);">
              <picture class="p-works-item__picture p-works-item__picture--sp" data-scroll data-scroll-speed="2">
                <source srcset="<%= jsonData.works[work].mockSpWebp %>" class="p-works-item__img" type="image/webp" />
                <img src="<%= jsonData.works[work].mockSpPng %>" class="p-works-item__img" width="357" height="719" alt="<%= jsonData.works[work].altSp %>" loading="lazy">
              </picture>
              <picture class="p-works-item__picture p-works-item__picture--tab u-hidden-lax-down" data-scroll data-scroll-speed="1.25" data-scroll-delay="0.1">
                <source srcset="<%= jsonData.works[work].mockTabWebp %>" class="p-works-item__img" type="image/webp" />
                <img src="<%= jsonData.works[work].mockTabPng %>" class="p-works-item__img" width="508" height="712" alt="<%= jsonData.works[work].altTab %>" loading="lazy">
              </picture>
              <picture class="p-works-item__picture p-works-item__picture--pc">
                <source srcset="<%= jsonData.works[work].mockPcWebp %>" class="p-works-item__img" type="image/webp" />
                <img src="<%= jsonData.works[work].mockPcPng %>" class="p-works-item__img" width="804" height="510" alt="<%= jsonData.works[work].altPc %>" loading="lazy">
              </picture>
            </a>
            <div class="p-works-item__body u-hidden-lax-up">
              <h3 class="p-works-item__title">
                <%= jsonData.works[work].name %>
              </h3>
              <p class="p-works-item__category">
                <%= jsonData.works[work].category %>
              </p>
            </div>
          </div>
          <% }; %>
        </div>
        <div id="js-works-mask" class="p-works__mask"></div>
      </div>
    </section>
  </div>

  <div class="p-contact-connect" style="transform: translate(0px, 0px);">
    <a href="/contact/" class="p-contact-connect__link">
      <span class="p-contact-connect__text" data-text="Contact Me">
        Get In Touch
      </span>
    </a>
  </div>
</main>

<%- include('./common/_footer', {pageId:pageId }) %>