<% let pageId='home' ; %>

<%- include('./common/_header', {pageId:pageId }) %>

<main class="l-home" data-barba="container" data-barba-namespace="home">
  <div class="l-container">
    <%# ファーストビュー %>
    <section id="js-first-view" class="p-first-view l-home__first-view">
      <div class="p-first-view__inner">
        <h1 class="p-first-view__heading" style="transform: translate(0px, 0px);">
          <span class="is-wrap">
            <span class="is-slide-up">
              K.TOBITA
            </span>
          </span>
          <span class="is-wrap">
            <span class="is-slide-up u-delay01">
              PORTFOLIO<span class="u-hidden-md-down"> SITE</span>.
            </span>
          </span>
        </h1>
        <span class="is-wrap">
          <p class="p-first-view__text is-slide-up u-delay04">
            Web creator based in Japan - Ibaraki & Tokyo
          </p>
        </span>
      </div>
    </section><%# / ファーストビュー %>

    <%# 私について %>
    <section class="p-home-about l-home__about">
      <h2 class="p-home-about__heading u-hidden-lax-down" data-scroll data-scroll-speed="-0.7" data-scroll-direction="horizontal">
        Web Creator 
      </h2>
      <div class="p-home-about__profile">
        <h3 class="p-home-about__name">
          <span class="p-home-about__name-en">
            Kokoro Tobita
          </span>
          <span class="p-home-about__name-ja">
            飛田 心
          </span>
        </h3>
        <p class="p-home-about__text">
          2000年生まれ、茨城県在住のAB型。<br>
          化学メーカーに勤務しながら独学でマークアップ、フロントエンド、Webデザインを学んでいます。
          出来ない事を出来るようになるまで行動し達成できた時の喜びを感じるのが大好きです。
        </p>
        <div class="p-home-about__link-wrapper">
          <a href="/about/" class="c-button-primary">
            <span class="c-button-primary__text" data-text="About me">
              View more
            </span>
          </a>
        </div>
      </div>
    </section><%# / 私について %>
  </div>

  <div class="l-container l-container--large">
    <%# 制作実績 %>
    <section class="p-works l-home__works">
      <h2 class="u-visually-hidden">制作実績</h2>
      <div class="p-works__inner">
        <%# 制作実績 - コンテンツ _assets/ejs/data/site.jsonにて管理 %>
        <ul class="p-works__contents u-hidden-lax-down" data-scroll data-scroll-sticky data-scroll-target="#js-works-mask">
          <% for(let work in jsonData.works){ %>
          <li data-id="<%= jsonData.works[work].dataId %>" class="p-works__content p-works-content">
            <div class="p-works-content__number">
              <span class="is-slide-mask">
              </span>
            </div>
            <div class="p-works-content__body">
              <h3 class="p-works-content__title is-slide-mask">
                <%= jsonData.works[work].name %>
              </h3><br>
              <p class="p-works-content__category is-slide-mask">
                <%= jsonData.works[work].category %>
              </p><br>
              <p class="p-works-content__text is-slide-mask">
                <%= jsonData.works[work].description %>
              </p>
            </div>
            <div class="p-works-content__link-wrapper">
              <a href="<%= jsonData.works[work].slug %>" class="c-button-primary c-button-primary--large is-slide-mask">
                <span class="c-button-primary__text" data-text="<%= jsonData.works[work].name %>">
                  View more
                </span>
              </a>
            </div>
          </li>
          <% }; %>
        </ul><%# / 制作実績 - コンテンツ %>

        <%# 制作実績 - サムネイル + スマホ時のテキスト情報 %>
        <div class="p-works__items">
          <% for(let work in jsonData.works){ %>
          <a id="<%= jsonData.works[work].id %>" href="<%= jsonData.works[work].slug %>" class="p-works__item p-works-item js-follow-targets">
            <picture class="p-works-item__picture">
              <source srcset="<%= jsonData.works[work].thumbnailWebp %>" class="p-works-item__img" type="image/webp" />
              <img src="<%= jsonData.works[work].thumbnailPng %>" class="p-works-item__img" width="770" height="781" alt="<%= jsonData.works[work].alt %>" loading="lazy" data-scroll data-scroll-speed="-1">
            </picture>
            <div class="p-works-item__body u-hidden-lax-up">
              <h3 class="p-works-item__title">
                <%= jsonData.works[work].name %>
              </h3>
              <p class="p-works-item__category">
                <%= jsonData.works[work].category %>
              </p>
            </div>
          </a>
          <% }; %>
        </div><%# / 制作実績 - サムネイル + スマホ時のテキスト情報 %>
        <div id="js-works-mask" class="p-works__mask"></div>
      </div>
    </section><%# / 制作実績 %>
  </div>

  <%# お問い合わせ導線 %>
  <a href="/contact/" class="p-contact-connect" style="transform: translate(0px, 0px);">
    <p class="p-contact-connect__text-wrapper">
      <span class="p-contact-connect__text" data-text="Contact Me">
        Get In Touch
      </span>
    </p>
  </a><%# / お問い合わせ導線 %>
</main>

<%- include('./common/_footer', {pageId:pageId }) %>