<% let title = (pageId === 'home') ? jsonData.siteInfo.name : jsonData.pages[pageId].name + ' | ' + jsonData.siteInfo.name%>
<% let description = jsonData.pages[pageId].description %>
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon" href="/img/common/apple-touch-icon.png">

  <title><%= title %></title>
  <meta name="description" content="<%= description %>">

  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:url" content="<%= jsonData.siteInfo.siteUrl + jsonData.pages[pageId].slug %>">
  <meta property="og:type" content="<%= jsonData.pages[pageId].type %> ">
  <meta property="og:local" content="ja_JP">
  <meta property="og:image" content="/common/og-image.jpg">
  <meta property="og:site_name" content="<%= jsonData.siteInfo.siteUrl %> ">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body data-barba="wrapper">
  <div id="page-wrapper">
    <span id="js-stalker" class="p-stalker">&#x1f5a4</span>
    <div id="content-wrapper">
    <div class="data-scroll-wrapper" data-scroll-container>
      <header id="js-header" class="l-header p-header" style="transform: translate(0px, 0px);">
        <div id="js-header__inner" class="l-header__inner">
          <h1 class="p-header__logo">
            <a href="/" class="p-header__logo-link">
              KT
            </a>
          </h1>
          <div class="p-header__contents u-hidden-md-down">
            <nav class="p-header__nav p-global-nav">
              <ul class="p-global-nav__list">
                <li class="p-global-nav__item">
                  <a href="/" class="p-global-nav__link">
                    TOP
                  </a>
                </li>
                <li class="p-global-nav__item">
                  <a href="/about/" class="p-global-nav__link">
                    ABOUT
                  </a>
                </li>
                <li class="p-global-nav__item">
                  <a href="/contact/" class="p-global-nav__link">
                    CONTACT
                  </a>
                </li>
                <li class="p-global-nav__item">
                  <a href="" class="p-global-nav__link p-global-nav__link--blank" target="_blank" rel="noopener noreferrer">
                    BLOG
                  </a>
                </li>
              </ul>
            </nav>
            <ul class="p-header-sns">
              <li class="p-header-sns__item">
                <a href="https://twitter.com/coco_hack_ll" class="p-header-sns__link" target="_blank"
                  rel="noopener noreferrer">
                  <svg class="c-svg p-header-sns__svg" width="20" height="20" role="img" aria-label="Twitterのアイコン">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-twitter" />
                  </svg>
                </a>
              </li>
              <li class="p-header-sns__item">
                <a href="https://github.com/kokoro-hart" class="p-header-sns__link" target="_blank" rel="noopener noreferrer">
                  <svg class="c-svg p-header-sns__svg" width="20" height="20" role="img" aria-label="GitHubのアイコン">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
      
          <button id="js-drawer-button" class="p-header__button c-button-drawer u-hidden-md-up" aria-controls="js-drawer-nav" aria-expanded="false">
            <span class="c-button-drawer__line">
            </span>
          </button>
        </div>
      
        <div id="js-drawer-nav" class="p-drawer-nav u-hidden-md-up" aria-hidden="true">
          <div class="p-drawer-nav__inner">
            <ul class="p-drawer-nav__list">
              <li class="p-drawer-nav__item">
                <a href="/" class="p-drawer-nav__link">
                  TOP
                </a>
              </li>
              <li class="p-drawer-nav__item">
                <a href="/about/" class="p-drawer-nav__link">
                  ABOUT
                </a>
              </li>
              <li class="p-drawer-nav__item">
                <a href="/contact/" class="p-drawer-nav__link">
                  CONTACT
                </a>
              </li>
              <li class="p-drawer-nav__item">
                <a href="" class="p-drawer-nav__link p-drawer-nav__link--blank" target="_blank" rel="noopener noreferrer">
                  BLOG
                  <svg class="c-svg p-drawer-nav__svg" width="23" height="23">
                    <use xlink:href="/img/svg/sprite.min.svg#arrow" />
                  </svg>
                </a>
              </li>
            </ul>
            <p class="p-drawer-nav__text">FOLLOW ME</p>
            <ul class="p-drawer-nav__sns p-sns">
              <li class="p-sns__item">
                <a href="https://twitter.com/coco_hack_ll" class="p-sns__link" target="_blank" rel="noopener noreferrer">
                  <svg class="c-svg p-sns__svg" width="20" height="20" aria-label="Twitterのアイコン">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-twitter" />
                  </svg>
                </a>
              </li>
              <li class="p-sns__item">
                <a href="https://github.com/kokoro-hart" class="p-sns__link" target="_blank" rel="noopener noreferrer">
                  <svg class="c-svg p-sns__svg" width="20" height="20" aria-label="GitHubのアイコン">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </header>