<% let title=(pageId==='home' ) ? jsonData.siteInfo.name : jsonData.pages[pageId].name + ' | ' + jsonData.siteInfo.name%>
<% let description=jsonData.pages[pageId].description %>
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width">
  <title>
    <%= title %>
  </title>
  <meta name="description" content="<%= description %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:url" content="<%= jsonData.siteInfo.siteUrl + jsonData.pages[pageId].slug %>">
  <meta property="og:type" content="<%= jsonData.pages[pageId].type %> ">
  <meta property="og:local" content="ja_JP">
  <meta property="og:image" content="https://k-tobita.jp/img/common/og-image.png">
  <meta property="og:site_name" content="<%= jsonData.siteInfo.siteUrl %> ">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="icon" href="/img/common/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="https://k-tobita.jp/img/common/apple-touch-icon-180x180.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css?ver=1.0.6">
</head>

<body data-barba="wrapper">
  <div id="page-wrapper" class="data-scroll-container" data-scroll-container>
    <%# ヘッダー %>
    <header id="js-header" class="l-header p-header" style="transform: translate(-50%, 0px);">
      <div class="p-header__inner">
        <%# ヘッダー - ロゴ %>
        <p class="p-header__logo">
          <a href="/" class="p-header__logo-link">
            <span class="p-header__logo-text">
              KOKORO
            </span>
            <span class="p-header__logo-change">
              <span class="p-header__logo-head">
                &copy;2023
              </span>
              <span class="p-header__logo-foot">
                Tobita
              </span>
            </span>
          </a>
        </p><%# / ヘッダー - ロゴ %>
        <div class="p-header__contents u-hidden-md-down">
          <%# ヘッダー - グローバルナビゲージョン %>
          <nav class="p-header__nav p-global-nav">
            <ul class="p-global-nav__list">
              <li class="p-global-nav__item">
                <a href="/" class="p-global-nav__link">
                  TOP
                </a>
              </li>
              <li class="p-global-nav__item">
                <a href="/about/" class="p-global-nav__link">
                  ABOUT ME
                </a>
              </li>
              <li class="p-global-nav__item">
                <a href="/contact/" class="p-global-nav__link">
                  CONTACT
                </a>
              </li>
              <li class="p-global-nav__item">
                <a href="https://kt-media.blog/" class="p-global-nav__link p-global-nav__link--blank" target="_blank" rel="noopener noreferrer">
                  BLOG
                </a>
              </li>
            </ul>
          </nav><%# / ヘッダー - グローバルナビゲージョン %>
          <%# ヘッダー - sns %>
          <ul class="p-header__sns p-header-sns">
            <li class="p-header-sns__item">
              <a href="https://twitter.com/coco_hack_ll" class="p-header-sns__link" target="_blank" rel="noopener noreferrer">
                <span class="u-visually-hidden">Twitter（外部リンク）</span>
                <svg class="c-svg p-header-sns__svg" width="20" height="20" role="img" aria-label="Twitterのアイコン">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-twitter" />
                </svg>
              </a>
            </li>
            <li class="p-header-sns__item">
              <a href="https://zenn.dev/cocosyu" class="p-header-sns__link" target="_blank" rel="noopener noreferrer">
                <span class="u-visually-hidden">CodePen（外部リンク）</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M1.06002 22.641H5.68063C5.92525 22.641 6.14269 22.5051 6.27859 22.3148L18.9989 1.41336C19.1619 1.14156 18.9717 0.815399 18.6455 0.815399H14.2695C14.0521 0.815399 13.8618 0.924119 13.7531 1.11438L0.842577 22.2605C0.761037 22.4236 0.869757 22.641 1.06002 22.641Z"
                    fill="black" />
                  <path
                    d="M16.9876 22.3148L22.9944 12.6659C23.1846 12.3669 22.9672 11.9864 22.6138 11.9864H18.265C18.1019 11.9864 17.9389 12.0679 17.8573 12.2038L11.6875 22.0702C11.5244 22.3148 11.7146 22.641 12.0136 22.641H16.444C16.6614 22.641 16.8788 22.5323 16.9876 22.3148Z"
                    fill="black" />
                </svg>
              </a>
            </li>
            <li class="p-header-sns__item">
              <a href="https://github.com/kokoro-hart" class="p-header-sns__link" target="_blank"
                rel="noopener noreferrer">
                <span class="u-visually-hidden">GitHub（外部リンク）</span>
                <svg class="c-svg p-header-sns__svg" width="20" height="20" role="img" aria-label="GitHubのアイコン">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
                </svg>
              </a>
            </li>
          </ul><%# / ヘッダー - sns %>
        </div>

        <%# ドロワーボタン %>
        <button type="button" id="js-drawer-button" class="p-header__button c-button-drawer u-hidden-md-up" aria-controls="js-drawer-nav" aria-expanded="false">
          <span class="c-button-drawer__line">
          </span>
        </button><%# / ドロワーボタン %>
      </div>
    </header><%# / ヘッダー %>
    <%# ドロワーナビゲーション %>
    <div id="js-drawer-nav" class="p-drawer-nav u-hidden-md-up" aria-hidden="true">
      <div class="p-drawer-nav__inner">
        <ul class="p-drawer-nav__list">
          <li class="p-drawer-nav__item">
            <a href="/" class="p-drawer-nav__link">
              TOP
            </a>
          </li>
          <li class="p-drawer-nav__item">
            <a href="/about/" class="p-drawer-nav__link">
              ABOUT ME
            </a>
          </li>
          <li class="p-drawer-nav__item">
            <a href="/contact/" class="p-drawer-nav__link">
              CONTACT
            </a>
          </li>
          <li class="p-drawer-nav__item">
            <a href="https://kt-media.blog/" class="p-drawer-nav__link p-drawer-nav__link--blank" target="_blank"
              rel="noopener noreferrer">
              BLOG
              <svg class="c-svg p-drawer-nav__svg" width="23" height="23" viewBox="0 0 14 14" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>arrow-up-right</title>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" transform="translate(-1019.000000, -279.000000)" stroke="#000" stroke-width="1.5">
                    <g id="arrow-up-right"
                      transform="translate(1026.000000, 286.000000) rotate(90.000000) translate(-1026.000000, -286.000000) translate(1020.000000, 280.000000)">
                      <polyline id="Path" points="2.76923077 0 12 0 12 9.23076923"></polyline>
                      <line x1="12" y1="0" x2="0" y2="12" id="Path"></line>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          </li>
        </ul>
        <p class="p-drawer-nav__text">FOLLOW ME</p>
        <ul class="p-drawer-nav__sns p-sns">
          <li class="p-sns__item">
            <a href="https://twitter.com/coco_hack_ll" class="p-sns__link" target="_blank" rel="noopener noreferrer">
              <span class="u-visually-hidden">Twitter（外部リンク）</span>
              <svg class="c-svg p-sns__svg" width="20" height="20" role="img" aria-label="Twitterのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-twitter" />
              </svg>
              <span class="p-sns__border"></span>
            </a>
          </li>
          <li class="p-sns__item">
            <a href="https://zenn.dev/cocosyu" class="p-sns__link" target="_blank" rel="noopener noreferrer">
              <span class="u-visually-hidden">Zenn（外部リンク）</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M1.06002 22.641H5.68063C5.92525 22.641 6.14269 22.5051 6.27859 22.3148L18.9989 1.41336C19.1619 1.14156 18.9717 0.815399 18.6455 0.815399H14.2695C14.0521 0.815399 13.8618 0.924119 13.7531 1.11438L0.842577 22.2605C0.761037 22.4236 0.869757 22.641 1.06002 22.641Z"
                  fill="black" />
                <path
                  d="M16.9876 22.3148L22.9944 12.6659C23.1846 12.3669 22.9672 11.9864 22.6138 11.9864H18.265C18.1019 11.9864 17.9389 12.0679 17.8573 12.2038L11.6875 22.0702C11.5244 22.3148 11.7146 22.641 12.0136 22.641H16.444C16.6614 22.641 16.8788 22.5323 16.9876 22.3148Z"
                  fill="black" />
              </svg>
              <span class="p-sns__border"></span>
            </a>
          </li>
          <li class="p-sns__item">
            <a href="https://github.com/kokoro-hart" class="p-sns__link" target="_blank" rel="noopener noreferrer">
              <span class="u-visually-hidden">GitHub（外部リンク）</span>
              <svg class="c-svg p-sns__svg" width="20" height="20" role="img" aria-label="GitHubのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
              </svg>
              <span class="p-sns__border"></span>
            </a>
          </li>
        </ul>
      </div>
    </div><%# / ドロワーナビゲーション %>